body{
    background-color: rgb(255, 255, 98);
    color:rgb(255, 105, 51);
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0px;
}

header{
    font-size: 35px;
    text-align: center;
    border: double 3px rgb(231, 140, 140);
}

h1{
    font-size: 27px;
}

p{
    font-size: 20px;
}